<s> [INST] You are an assistant for Extraction. Please extract the ONLY the following informaion (total price, seller, buyer, iban) as Markdown Table from this text. [/INST] </s>
[INST]
Context: {{text}}
Answer: [/INST]
